<template>
    <button
        class="group button px-4 py-2 rounded-3xl transition-all min min-w-[124px]"
        :class="[
            outline
                ? 'border-2 hover:bg-white'
                : 'bg-[var(--el-color-primary)] hover:bg-[var(--el-color-primary-dark-2)]',
            className,
        ]"
        @click="$emit('click-action')"
    >
        <span
            class="font-semibold text-white"
            :class="[outline ? 'uppercase' : '!text-white']"
        >
            <slot></slot>
        </span>
    </button>
</template>
<script>
export default {
    name: "button-component",
    props: {
        hoverColor: {
            type: String,
            default: "white",
        },
        outline: {
            type: Boolean,
            default: true,
        },
        className: {
            type: String,
            default: "",
        },
    },
};
</script>
<style scoped>
.button:hover span {
    color: v-bind("hoverColor");
}
</style>
