<template>
    <div class="w-container">
        <carousel :items="dataCarousel" />
    </div>
    <router-link :to="{ name: 'signIn' }">Sign in</router-link>
</template>

<script>
import Carousel from "@/components/carousel/carousel-component.vue";
export default {
    name: "HelloWorld",
    props: {
        msg: String,
    },
    components: {
        Carousel,
    },
    data() {
        return {
            dataCarousel: [
                {
                    title: "Mở Bán Áo Polo F8 Đợt 2",
                    description:
                        "Áo Polo F8 với thiết kế tối giản, lịch sự, phù hợp mặc mọi lúc, mọi nơi. Chất áo mềm mại, thoáng mát, ngực và tay áo in logo F8 - Fullstack.",
                    redirect:
                        "https://docs.google.com/forms/d/e/1FAIpQLSdRhqEi1MaA8rvHvXQy69JYl-wc4aPsCMbnMhIAIM0C2Bpccg/viewform?usp=send_form",
                    image: "https://files.fullstack.edu.vn/f8-prod/banners/1/657686da32787.png",
                    slogan: "ĐẶT ÁO NGAY",
                },
                {
                    title: "Học HTML CSS cho người mới",
                    description:
                        "Thực hành dự án với Figma, hàng trăm bài tập và thử thách, hướng dẫn 100% bởi Sơn Đặng, tặng kèm Flashcards, v.v.",
                    redirect: "https://fullstack.edu.vn/landing/htmlcss/",
                    image: "https://files.fullstack.edu.vn/f8-prod/banners/20/6308a6bf603a4.png",
                    slogan: "Học thử miễn phí",
                },
                {
                    title: "F8 trên Youtube",
                    description:
                        "Áo Polo F8 với thiết kế tối giản, lịch sự, phù hợp mặc mọi lúc, mọi nơi. Chất áo mềm mại, thoáng mát, ngực và tay áo in logo F8 - Fullstack.",
                    redirect: "https://www.youtube.com/",
                    image: "https://files.fullstack.edu.vn/f8-prod/banners/Banner_03_youtube.png",
                    slogan: "Xem ngay",
                },
            ],
        };
    },
};
</script>

<style scoped></style>
