<template>
    <div class="header py-4">
        <div class="w-container">
            <div class="header-content">
                <h1>LOGO</h1>
                <div>
                    <el-button @click="store.logout" type="info"
                        >Logout</el-button
                    >
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { useUserStore } from "@/store/UserStore";
const store = useUserStore();
</script>
<style scoped></style>
<style lang="css" scoped>
.header {
    --height: 66px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8ebed;
    display: flex;
    font-size: 1.4rem;
    height: var(--height);
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 20;
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
</style>
