<template>
    <div class="carousel-wrapper">
        <el-carousel
            class="rounded-2xl select-none"
            height="270px"
            :arrow="typeArrow"
            :autoplay="false"
        >
            <el-carousel-item
                v-for="(item, index) in items"
                :key="item"
                :style="{ background: renderColor(index).background }"
            >
                <div class="flex h-full items-center justify-between px-4 sm:px-8">
                    <div class="flex flex-col justify-center md:w-[30%]">
                        <h4 class="font-bold text-3xl text-white mb-4">
                            {{ item.title }}
                        </h4>
                        <p class="text-base text-white mb-4">
                            {{ item.description }}
                        </p>
                        <div>
                            <button-component
                                className="mt-auto"
                                :hover-color="renderColor(index).color"
                                @click-action="redirectLink(item.redirect)"
                                :outline="true"
                                >{{ item.slogan }}</button-component
                            >
                        </div>
                    </div>
                    <div class="hidden sm:block">
                        <img :src="item.image" alt="" />
                    </div>
                </div>
            </el-carousel-item>
        </el-carousel>
    </div>
</template>
<script>
import ButtonComponent from "@/components/button/button-component.vue";
export default {
    name: "carousel-component",
    components: {
        ButtonComponent,
    },
    props: {
        items: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            colors: [
                {
                    background:
                        "linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254)) ",
                    color: "rgb(0, 126, 254)",
                },
                {
                    background:
                        "linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2)) ",
                    color: "rgb(254, 33, 94)",
                },
                {
                    background:
                        "linear-gradient(to right, rgb(136, 40, 250), rgb(89, 169, 250))",
                    color: "rgb(136, 40, 250)",
                },
            ],
            typeArrow: "always"
        };
    },
    methods: {
        renderColor(index) {
            index = index + 1;
            let indexBg = (index - 1) % this.colors.length;
            return this.colors[indexBg];
        },
        redirectLink(link) {
            window.open(link);
        },
    },
    mounted(){
        if(window.innerWidth <= 640){
            this.typeArrow = "never"
            console.log("1")
        }
    }
};
</script>
<style scoped>
.carousel-wrapper {
    position: relative;
}

.el-carousel {
    position: unset;
}

:deep(.el-carousel__arrow) {
    background: var(--el-color-white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

:deep(.el-carousel__arrow .el-icon) {
    color: var(--el-color-info);
}

:deep(.el-carousel__arrow:hover) {
    background: var(--el-color-white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

:deep(.el-carousel__arrow:hover .el-icon) {
    color: var(--el-text-color-regular);
}

:deep(.el-carousel__arrow--left) {
    left: 0;
    transform: translateX(-50%);
}

:deep(.el-carousel__arrow--right) {
    right: 0;
    transform: translateX(50%);
}

:deep(.el-carousel__indicators--horizontal) {
    bottom: 0;
    left: 20px;
    transform: translateY(100%);
}

:deep(.el-carousel__button) {
    width: 32px;
    height: 8px;
    border-radius: 6px;
    background: var(--el-text-color-disabled);
}

:deep(.el-carousel__indicator--horizontal.is-active .el-carousel__button) {
    width: 46px;
    background: var(--el-text-color-placeholder);
}
.el-carousel__item h3 {
    color: #475669;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
    text-align: center;
}
</style>
