<template>
    <component :is="layout">
        <router-view />
    </component>
</template>
<script setup>
import { computed } from "vue";
import { useRoute } from "vue-router";
import DefaultLayout from "./layouts/_DefaultLayout.vue";
import BlankLayout from "./layouts/_BlankLayout.vue";
const router = useRoute();
const layout = computed(() => {
    if (router.meta.layout === "AppLayoutBlank") {
        return BlankLayout;
    } else {
        return DefaultLayout;
    }
});
</script>
<style lang="css">
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
</style>