<template>
    <div class="default-layout">
        <header-vue/>
        <slot></slot>
    </div>
</template>
<script>
import headerVue from "@/components/header-component.vue";
export default {
    name: "DefaultLayout",
    components: {
        headerVue,
    },
};
</script>
