<template>
    <div class="container">
        <el-form
            :model="form"
            label-width="auto"
            style="width: 600px; max-width: 100%"
        >
            <el-form-item label="Username">
                <el-input v-model="form.username" />
            </el-form-item>
            <el-form-item label="Password">
                <el-input v-model="form.password" type="password" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="loginAction()"
                    >Login</el-button
                >
                <el-button>Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script setup>
import { reactive } from "vue";
import { ElButton } from "element-plus";
import { setCookie } from "@/helpers/cookie";
import { useRouter } from "vue-router";
import api from "@/api/api";
import { useUserStore } from "@/store/UserStore";

const store = useUserStore();
const router = useRouter();
const form = reactive({
    username: "",
    password: "",
});
console.log(router);
const loginAction = async () => {
    try {
        const response = await api.authApi.post(
            {
                username: form.username,
                password: form.password,
            },
            "login"
        );
        if (response.status === 200) {
            setCookie("token", response.data.tokens?.accessToken);
            setCookie("refreshToken", response.data.tokens?.refreshToken);
            store.setUser(response.data.user);
            router.push("/");
        }
    } catch (error) {
        console.log(error);
    }
};
</script>
<style lang="css">
.container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}
</style>
